/* линия в хеадере */
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
}
.header-icon {
  fill: currentColor;
  margin-right: 10px;
}
.logo-header {
  color: var(--primary-text-color);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item a {
  align-items: center;
  display: flex;
}

.page-header,
.site-contact,
.site-nav,
.site-nav > .list {
  display: flex;
  align-items: center;
}
.site-contact {
  margin-left: auto;
}
/* навигация */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
