/* темный цвет в макете #212121 
обычный цвет #757575; 
акцент #2196F3 
белый - вайт */
:root {
  --primary-text-color: #212121;
  --secondary-color: #757575;
  --accent: #2196f3;
  --background-color: #2f303a;
  --white-color: #ffffff;
}
